---
layout: page
title: "About"
description: "「从你的全世界路过」"
header-img: "img/home-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        写写代码，做做设计，看看产品。
        世界那么大，多玩玩看看。
    </blockquote>
    老太太说：“我就特别看不起你们这帮年轻人，二三十岁就叨叨说平平淡淡才是真。你们配吗？我上山下乡，知青当过，饥荒挨过，这你们没办法体会。但我今儿平安喜乐，没事打几圈牌，早睡早起，你以为凭空得来的心静自然凉？老和尚说终归要见山是山，但你们经历见山不是山了吗？不趁着年轻拔腿就走，去刀山火海，不入世就自以为出世，以为自己是活佛涅槃来的？我的平平淡淡是苦出来的，你们的平平淡淡是懒惰，是害怕，是贪图安逸，是一条不敢见世面的土狗。女人留不住就不会去追？还把责任推到我老太婆身上！呆逼。”

    <br><br>她一挥拐杖，差点儿打到胡 言脑门儿：“你那女朋友我都没见过，你们谁见过？”

    <br><br>酒吧里大部分人都点头如捣蒜。

    <br><br>老太太说：“自己弱不禁风，屁事不懂，看见别人奔波受苦，只知道躲在角落放两支冷箭说矫情，说人家犯贱穷折腾。呸，一天到晚除了算计什么都不会。钱花完可以再赚，吃亏了可以再来，年轻没了怎么办？当过兵才能退伍，不打仗就别看不起牺牲。你会不会说话？会说话，就去长沙，告诉人家，你想娶她。”

    <br><br>老太太抖出一张发黄的纸，大声说：“这是我老头写给我的，我读给你听。”她看了半天，说：“哎哟呆逼，拿错了，这是电费催缴单。小张你喜欢写字，你临时来一篇。”

    <br><br>我赶紧临场朗诵：“相信青春，所以越爱越深，但必须爱。勇于牺牲，所以死去活来，但必须来。从低谷翻越山巅，就能找到云淡风轻的庭院。总有一天，你的脚下满山梯田，沿途汗水盛开。想要满屋子安宁，就得丢下自己的骸骨，路过一万场美景。”

    <br><br>老太太抽我一耳光，说：“当着七十岁老太婆的面说骸骨，滚。”

    <br><br>她静静地看着胡言，说：“几个月前，你在陽台打电话，我听到了。你劝她留在南京，不要去长沙。劝着劝着自己哭了，我特别想冲进去揍你一顿，哭什么，姑娘孝顺是好事，你不能追着去吗？然后从那天开始天天加班，你有这么勤劳吗，还不是怕回家孤单单地想心事。”

    <br><br>老太太说：“我年纪大了，本来想你结婚后，每天包皮粽子给你们小两口吃。吃到你们腻了，我也可以走了。你是我儿子，走错路不怕，走错就回家，你妈我一时半会儿死不了，回来的时候我在家。”

    <p style="text-align:right;">
        —— <a href="https://tangheng1995.github.io/about/">张嘉佳 － 「从你的全世界路过」</a>
    </p>

</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        Designer or Engineer, things in between.
    </blockquote>

    <p>
        Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work. And the only way to do great work is to love what you do. If you haven’t found it yet, keep looking. Don’t settle. As with all matters of the heart, you’ll know when you find it.
    </p>

    <p>
    If you want to live your life in a creative way, as an artist, you have to not look back too much. You have to be willing to take whatever you’ve done and whoever you were and throw them away.
    </p>

    <p style="text-align:right;">
    -- Steve Jobs
    </p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
